@font-face {
  font-family: 'MyFont';
  src: 
    url('./Sweet Kiss.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: blue;
  font-family: 'MyFont';
}

/*
  margin: 0;
  width:100px;
  height:auto;
*/
/*
div.background {
    opacity: 0.6;
}
*/
